.title {
    font-size: medium;
    color: $dark-silver;
    display: inline-block;
}

.opn {
    display: inline-block;
    margin-left: $padding-normal;
}
.content {
    margin-left: $padding-normal;
    padding-left: $padding-normal;
    border-left: 1px solid $dark-silver;

    h3 {
        font-size: medium;
        :global(.tc-svg-icon) {
            width: $svg-xs-size;
            height: $svg-xs-size;
        }
    }
}
